@font-face {
    font-family: "Alice-Regular", sans-serif;
    src: url(../fonts/Alice-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

:root {
    --color1: #ffffff;
    --color2: #FFFCF8;
  }

section {
    padding: 130px 10px 80px 10px;
    font-family: "Alice-Regular", sans-serif;
    font-weight: 400;
    color: #545454;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section h3 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 25px;
}


/* Обратный отсчет */
.name-frame {
    background-color: var(--color2);
    padding: 0 10px;
    height: 100vh;
    width: 100%;
}

.name-frame img {
  margin-top: 20px;
}

    
.countdown-wrapper {
    color: #545454;
    font: normal 12px 'Alice', sans-serif;
    margin-top: 20px;
}

ul.countdown {
    list-style: none;
    margin-top: 50px;
    padding: 0;
    display: block;
    text-align: center;
}

ul.countdown li {
    display: inline-block;
}

ul.countdown li span {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.4;
}

ul.countdown li.seperator {
    font-size: 60px;
    line-height: 1.4;
    vertical-align: top;
}

ul.countdown li p {
    color: #a7abb1;
    font-size: 14px;
}

@media (min-width: 768px) {

    ul.countdown li span {
        font-size: 80px;
    }
    
    ul.countdown li.seperator {
        font-size: 80px;
    }
    
    .name-frame {
        padding: 50px 10px 50px 10px;
    }
}


/* Приглашение */
.invitation {
    background-color: var(--color1);
    background-image:
    url("../images/Верх_приглашение-sm.png"), url("../images/Низ_приглашение-sm.png");
    background-repeat: no-repeat;
    background-position:
    right 0px top 0px, left 0px bottom 0px;
}

.invitation p, .dress-code p, .what_to p, .what_to-list-item, .place p {
    font-size: 18px;
    line-height: 1.4;
}

.invitation p {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px;



}

@media (min-width: 768px) {
    .invitation {
        background-image: url("../images/Верх_приглашение-md.png"), url("../images/Низ_приглашение-md.png");
    }
    .invitation p, .dress-code p, .what_to p, .what_to-list-item, .place p  {
        font-size: 24px;
    }
    .name-frame img {
        width: 700px;
    }
}


/* Программа */
.program {
    background-color: var(--color2);
    background-image:
    url("../images/Верх_программа-sm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
}

.program-content {
    background-color: #D3DAC6;
}

.program-time {
    font-size: 28px;
}

.program-about {
    font-size: 14px;
    color: #fff;
}

.program-text {
    font-size: 18px;
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin-bottom: 20px;
    background-color: #D3DAC6;
    line-height: 1.2;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #D3DAC6;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    li.timeline-item {
        margin-bottom: 40px;
    }

    .program-time {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .program-about {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .program-text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    

}
@media (min-width: 992px) {
    .program {
        background-image:
        url("../images/Верх_программа-xl.svg");
    }
}

/* Дресс-код */
.dress-code {
    background-color: var(--color1);
    background-image:
    url("../images/Верх_дресс-код-sm.png"), url("../images/Низ_дресс-код-sm.png");
    background-repeat: no-repeat;
    background-position:
    left 0px top 0px, right 0px bottom 0px;
}

.dress-code-img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.dress-code-img-mg { 
    padding: 30px 0 60px 0;
}

@media (min-width: 768px) {

    .dress-code {
        background-image: url("../images/Верх_дресс-код-xl.png"), url("../images/Низ_дресс-код-md.png");
    }

    .dress-code-img {
        max-width: 250px;
    }

    .dress-code-img-mg {
        padding: 60px 0 60px 0; 
    }
}

/* Что взять с собой */
.what_to {
    background-color: var(--color2);
    background-image:
    url("../images/Верх_Что_делаем-sm.png");
    background-repeat: no-repeat;
    background-position:
    left 0px top 0px;
}
.what_to-list-group {
    background-color: #D3DAC6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.what_to-list-item {
    padding: 5px 5px;
    margin: 2px 0;
}

@media (min-width: 768px) {
    .what_to {
        background-image:
        url("../images/Верх_Что_делаем-md.png");
    }
}

@media (min-width: 992px) {
    .what_to {
        background-image:
        url("../images/Верх_Что_делаем-lg.png");
    }
}

/* Место */

.place {
    background-color: var(--color1);
    background-image:
    url("../images/Место_низ-sm.png"), url("../images/Место_верх-sm.png");
    background-repeat: no-repeat;
    background-position:
    left 0px bottom 0px, right 0px top 0px;
}

.place img {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    margin-top: 20px;
}

.place a {
    color:#4EA025;
}

.place a:hover {
    color:#6fca41;
}

@media (min-width: 768px) {
    .place {
        background-image: url("../images/Место_низ-md.png"), url("../images/Место_верх-md.png");
}
    .place img {
        margin-top: 35px;
}
}

@media (min-width: 992px) {
    .place {
        background-image: url("../images/Место_низ-lg.png"), url("../images/Место_верх-lg.png");
    }
}

/* Опрос form */

.form {
    background-color: var(--color2);

    background-repeat: no-repeat;
    background-position:
    right 0px top 0px, left 0px top 0px;

    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .form {
        background-image:
        url("../images/Рамка-гирлянда-правая-md.png"), url("../images/Рамка-гирлянда-левая-md.png");

    }
}

@media (min-width: 992px) {
    .form {
        background-image:
        url("../images/Рамка-гирлянда-правая-lg.png"), url("../images/Рамка-гирлянда-левая-lg.png");
    }
}

@media (min-width: 1400px) {
    .form {
        background-image:
        url("../images/Рамка-гирлянда-правая-xl.png"), url("../images/Рамка-гирлянда-левая-xl.png");
    }
}

/* Футер */
 
.footer {
    background-color:var(--color2);
    font-family: "Alice-Regular", sans-serif;
    font-weight: 400;
    color: #545454;
    font-size: 11px;
    padding-top: 10px;
}
.footer a {
    text-decoration: none;
    color: #545454;
}

/* Section */

@media (min-width: 768px) {
    section {
        padding: 200px 50px 150px 50px;
    }
    section h2 {
        font-size: 64px;
        margin-bottom: 80px;
    }
    section h3 {
        font-size: 48px;
        margin-bottom: 40px;
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    section {
        padding: 220px 50px 180px 50px;
    }
    section h2 {
        font-size: 64px;
        margin-bottom: 100px;
    }
}